/* Estilos Globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
}

/* Estilo da Sidebar (Menu Lateral) */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #2f4f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  background-color: #3c6e71;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #284b63;
}

.sidebar button {
  background-color: #d7263d;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  margin-bottom: 20px;
}

.sidebar button:hover {
  background-color: #bb1c2a;
}

/* Estilo da Navbar (apenas visível na tela do usuário após login) */
.navbar {
  background-color: #2f4f4f;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 10;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #00ff00; /* Cor verde para as fontes */
}

/* Estilos da Main Content */
.main-content {
  margin-left: 250px;
  padding: 40px;
  padding-top: 80px; /* Para evitar sobreposição da navbar */
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos do Formulário de Login e Registro */
.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form, .register-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #00ff00; /* Cor verde */
  margin-bottom: 20px;
}

label {
  color: #00ff00; /* Cor verde */
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #ffba08;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #faa307;
}

/* Estilos Específicos para Links no Formulário */
.login-register-container a {
  color: #00ff00; /* Cor verde */
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
}

/* Estilos para a página de Recintos e Controle de Espécies */
.page-title {
  color: #00ff00; /* Cor verde */
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.page-content {
  font-size: 1.2rem;
  color: #00ff00; /* Cor verde */
  text-align: left;
}
