/* Estilos Globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #344d0e; /* Cor principal */
}

/* Estilo da Sidebar (Menu Lateral) */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #22300b; /* Cor principal modificada */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: fixed;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: white; /* Cor dos textos */
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  background-color: #293b14; /* Cor do hover */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #22300b;
}

.sidebar button {
  background-color: #22300b;
  border: none;
  color: rgb(255, 0, 0);
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #293b14;
}

/* Estilo da Navbar */
.navbar {
  background-color: #22300b;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 10;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

/* Estilos da Main Content */
.main-content {
  margin-left: 250px;
  padding: 40px;
  padding-top: 80px; 
  background-color: #344d0e; 
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos do Formulário de Login e Registro */
.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form, .register-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #22300b; /* Sombra */
  max-width: 400px;
  width: 100%;
}




input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #22300b;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0d1305;
}

/* Estilos Específicos para Links no Formulário */
.login-register-container a {
  color: #22300b; 
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
}

/* Estilos para a página de Recintos e Controle de Espécies */
.page-title {
  color: #22300b; 
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

