.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    color: #006400;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #006400;
  }
  