/* Centralizar o título */
h1 {
  text-align: center;
  font-size: 3em;
  color: white;
}

/* Estilizar os cards */
.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.card.active {
  background-color: rgba(0, 128, 0, 0.8); /* Card ativo com destaque */
  color: white;
}

/* Menu lateral */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgba(46, 139, 87, 0.9);
  position: fixed;
  height: 100%;
  overflow: auto;
  left: -200px; /* Oculto por padrão */
  transition: left 0.3s;
}

.sidebar.visible {
  left: 0; /* Mostra o menu lateral */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ffffff;
  padding: 25px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #2e8b57;
  color: white;
}

/* Links on hover */
.sidebar a:hover:not(.active) {
  background-color: #1c5a3b;
  color: white;
}

/* Conteúdo com espaçamento lateral */
.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(34, 139, 34, 0.9);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.menu-button:hover {
  background-color: #1c5a3b;
}

/* Cards container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

/* Responsive adjustments */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
