.home-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Card Container para centralizar o card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Estilo do card */
.card {
  background-color: rgba(46, 139, 87, 0.9);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 250px;
}

.card:hover {
  transform: scale(1.05); /* Leve aumento no hover */
  background-color: rgba(0, 128, 0, 0.8);
}

.card h2 {
  margin: 0;
  font-size: 1.8rem;
}

.card p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.card-back {
  margin-top: 10px;
  font-size: 1rem;
  color: #e0e0e0;
}
