/* Centralizar o título */
h1 {
  text-align: center;
  font-size: 3em;
  color: #22300b;
}

p {
  text-align: center;
  font-size: 1.2em;
  color: #22300b;
}

/* Estilizar os cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #000000; /* Cor do título do card */
}

.card p {
  color: #152202; /* Cor do texto do card */
}

.card:hover {
  background-color: #dfeede;
  transform: scale(1.05); /* Efeito de hover */
  transition: all 0.3s ease;
}


/* Menu lateral */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #22300b;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

.sidebar a:hover {
  background-color: #344d0e;
}

/* Ajuste de espaçamento */
.content {
  margin-left: 220px;
  padding: 20px;
}
.content h1 {
  color: #22300b;
}
