.login-register-container {
  background: linear-gradient(to bottom right, #042143, #0a7d11);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  margin: 50px auto;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-size: 1.1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

input:focus {
  outline: none;
  border-color: #f3c612;
}

button {
  background-color: #f39c12;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d35400;
}

.switch-form {
  margin-top: 15px;
  cursor: pointer;
  color: #ffeb3b;
  font-size: 1rem;
  text-decoration: underline;
}
