.recintos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.create-recinto-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.recintos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.recinto-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recinto-card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #344d0e;
}

.recinto-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #344d0e;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
