.recintos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.crud-box {
  width: 300px;
  height: 300px;
  border: 2px solid #2e8b57;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
