.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #344d0e;
}

.form-section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-section h2 {
  font-size: 1.8rem;
  color: #344d0e;
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  font-size: 0.9rem;
  color: #344d0e;
  text-align: left;
  margin-bottom: 5px;
}

.form-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-section button {
  width: 100%;
  padding: 10px;
  background-color: #344d0e;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-section button:hover {
  background-color: #293b14;
}

.error-message, .success-message {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.switch-form {
  font-size: 0.9rem;
  color: #344d0e;
  cursor: pointer;
  text-decoration: underline;
}
